{% extends "base.html" %} {% block content %}
<div class="container" style="padding-bottom: 200px">
    <div class="jumbotron shadow-sm">
        <h1 class="display-4">&#x1F4DC; GCBV1KC Logbook &#x1F4DC;</h1>
        <p class="lead">
            Congratulations! You found the GC-Hotspot! Now sign the digital logbook! &#128394;&#128214;
        </p>
        <hr class="my-4" />
        <a class="btn btn-primary btn-lg" href="/entries/new" role="button">Log your visit</a>
    </div>
</div>
{% endblock %}
